@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body {
    background-color: orange;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: orange;
}

.well {
    margin-top: 9%;
    padding: 30px;
    background-color: #fff;
}

.quote-text {
    padding: 20px;
}

#text {
    font-style: italic;
}

#author {
    font-size: 20px;
}

.buttons {
    padding-top: 20px;
    margin: auto;
    display: block;
    font-size: 20px;
}

.button {
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    outline: none;
    background-color: orange;
    border: none;
    border-radius: 3px;
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

#getMessage {
    float: right;
}

.footer {
    color:#FFF;
    margin-bottom:50px;
}